// Colours.
$border-color: #a6a6a6;
$border-color-active: #40b6ff;
$button-background: #fefefe;
$button-background-active: #fafafa;
$black: #000000;
$white: #ffffff;
$grey: #a6a6a6;
$grey-blue: #3c4f60;
$grey-blue--light: #0074bd;
$grey-dark: #717171;
$grey-light: #efefef;

// Elements.
$border-radius: 7px;
$border-radius-small: 5px;

:root {
  --color-absolutezero: var(--color-blue-600);
  --color-white: #fff;
  --color-text: var(--color-gray);
  --color-text-light: var(--color-gray-500);
  /* Variations. */
  --color-absolutezero-hover: var(--color-blue-650); /* 5% darker than base. */
  --color-absolutezero-active: var(--color-blue-700); /* 10% darker than base. */
  /* Gray variations. */
  --color-gray: #232429;
  --color-gray-900: #393a3f;
  --color-gray-800: #55565b;
  --color-gray-700: #75767b;
  --color-gray-600: #828388;
  --color-gray-500: #919297;
  --color-gray-400: #adaeb3;
  --color-gray-300: #c1c2c7;
  --color-gray-200: #d3d4d9;
  --color-gray-100: #dedfe4;
  --color-gray-050: #f3f4f9;
  --color-gray-025: #f9faff;
  /* Spacing. */
  --space-xl: 3rem;
  --space-l: 1.5rem;
  --space-m: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
  /* Common. */
  --base-border-radius: 2px;
}
